.taskForm {
  display: flex;
  height: 6vmin;
  justify-content: space-between;
  align-items: center;

  background-color: #1e1e1e;
  transition: all 0.5s ease;
}

.text-input {
  flex: 2;
  width: auto;
  background: #1e1e1e;
  border: 0;
  height: 5vmin;
  color: #959595;
  font-family: Comfortaa, sans-serif;
}

.text-input:focus{
  outline: none;
  color: #aaaaaa;
  transition: all 0.3s ease;
}

.submit-btn {

}
