.la-work {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 3vmin;

}

.la-task {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-basis: content;
  align-items: center;
  padding-right: 50%;
  list-style-type: none;
}

